.comment-element {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;

    border-left: 2px solid lightgrey;
    /*border:1px solid black;*/
}
.comment-author {
    font-weight: bold;

    /*border:1px solid black;*/
}
.comment-text {

    /*border:1px solid black;*/
}
.comment-delete {
    display: none;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 5555;
    height: 100%;
    width: 20%;

    background-color: rgba(148, 0, 0, 0.82);
    font-weight: bold;
    color: #fff;
    text-align: center;

    cursor: pointer;
}