body{
    min-width: 600px;
}
.search-info{
    margin: 0;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: auto;
}
.header-text{
    text-align: center;
    font-size: 5vh;
}
.header-text span{
    top: 4px;
}
.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.user-name-search-input{
    margin-right: 10px;
}

.modal-header-wrapper{
    min-height: 50px;
    height: auto;
}


.modal-post-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modal-post-comments {
    min-height: 45vh;
    height: auto;
    overflow: auto;
    max-height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

    /*border: 1px solid red;*/
}
.modal-post-comments .comment {
    max-height: 60vh;
    margin-bottom: 10px;
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;

    /*border: 1px solid black;*/
}
.modal-post-comments .add-comment {
    /*border: 1px solid black;*/
}

.add-comment-input {
    min-height: 10vh;
    margin-bottom: 10px;

    resize: vertical;
}
.clear-comment {
    margin-right: 10px;
}
.add-comment-submit {}