.user-card{
    padding: 15px 15px;
}
.user-card-header{
    font-size: 2vh;
    margin-bottom: 10px;
}
.user-card-submit-button{
    cursor: pointer;
    color: #337ab7;
    text-decoration: none;
}

.user-card-submit-button:focus, .user-card-submit-button:hover {
    color: #23527c;
    text-decoration: underline;
}
