.user-posts{
    padding: 15px 15px;
}
.posts-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.posts-header{
    font-size: 2vh;
    margin-bottom: 10px;
}
.post-image{
    border: 2px solid #989797;
    margin: 5px;
    cursor: pointer;
}