<div class="col-md-12 col-lg-12" xmlns:th="http://www.thymeleaf.org">
    <div class="comments-wrapper">
        <th:block th:each="comment:${comments}">
            <div class="comment-element"
                 data-th-attr="comment-id=${comment.getId()}, post-id=${comment.getPost().getId()}">
                <div th:text="${comment.getFrom().getUserName()} +': '" class="comment-author"></div>
                <div th:text="${comment.getText()}" class="comment-text"></div>
                <div class="comment-delete"
                     data-th-attr="comment-id=${comment.getId()}, post-id=${comment.getPost().getId()}"
                     onClick="deleteComment(this)">
                    <div>Удалить</div>
                </div>
            </div>
        </th:block>
    </div>
</div>

