<div th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" src="../static/js/bootstrap/bootstrap.min.js" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>
    <script type="text/javascript" src="../static/js/index.js" th:src="@{/js/index.js}"></script>
    <script type="text/javascript" src="../static/preloader/falconga_preloader.js" th:src="@{/preloader/falconga_preloader.js}"></script>
</div>