<head th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <title>Instagram commentator</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap/bootstrap-theme.min.css" th:href="@{/css/bootstrap/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/user-card.css" th:href="@{/css/user-card.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/user-posts.css" th:href="@{/css/user-posts.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/comments.css" th:href="@{/css/comments.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/preloader/falconga_preloader.css" th:href="@{/preloader/falconga_preloader.css}"/>
</head>