<div xmlns:th="http://www.thymeleaf.org">
    <div class="well well-sm">
        <div class="user-card-header">Карточка пользователя</div>
        <input type="hidden" th:value="${account.getId()}" id="user-card-account-id"/>
        <input type="hidden" th:value="${account.isBusiness()}" id="user-card-account-is-business"/>
        <div class="row">
            <div class="col-md-5 col-lg-5">
                <img th:src="${account.getProfilePicture()}" th:value="${account.getProfilePicture()}" alt=""
                     class="img-thumbnail img-responsive user-card-profile-picture"/>
            </div>
            <div class="col-md-7 col-lg-7">
                <strong>Логин:</strong><div th:text="${account.getUserName()}" th:value="${account.getUserName()}" class="user-card-name"></div>
                <strong>Полное имя:</strong><div th:text="${#strings.defaultString(account.getFullName(),'Данные отсутствуют')}" class="user-card-full-name"></div>
                <strong>О себе:</strong><div th:text="${#strings.defaultString(account.getBio(),'Данные отсутствуют')}" class="user-card-bio"></div>
                <strong>Сайт:</strong><div th:text="${#strings.defaultString(account.getWebsite(),'Данные отсутствуют')}" class="user-card-website"></div>
                <strong>Дата последней синхронизации:</strong><div class="user-card-last-sync" th:text="${account.getSyncDate()}"></div>
                <div class="user-card-submit-button" onclick="getUserRecentPost()">Получить посты</div>
            </div>
        </div>
    </div>
</div>

