<div xmlns:th="http://www.thymeleaf.org">
    <div class="col-md-12 col-lg-12 well well-lg">
        <div class="posts-header">Посты пользователя:</div>
        <div class="posts-wrapper">
            <th:block th:each="post:${posts}">
                <div class="post-element"
                     data-th-attr="post-id=${post.getId()}, post-normal-resolution=${post.getNormalResolution()}, post-caption=${post.getCaption()}"
                     onclick="showPostDetail(this)">
                    <img th:src="${post.getThumbnail()}" class="img-thumbnail post-image"
                         th:id="'post-image-'+${post.getId()}"
                         th:alt="${post.getCaption()}"/>
                </div>
            </th:block>
        </div>
    </div>
</div>

